$top_header_text_color: #fff;
$bottom_header_text_color: #000;
$main_text_color: #fff;
$hower_and_button_color: rgb(255, 234, 42);

.header_content_container {
    background: url('../images/main_bg.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .top_header_not_fixed {
        padding: 4vh 4vw;
        display: flex;
        justify-content: space-between;
        .logo_container {
            width: 33%;
            color: $top_header_text_color;
            display: flex;
            flex-direction: row;
            .inner_logo_container {
                a {
                    color: $top_header_text_color;
                }
                .logo_main_text {
                    font-size: 1.4em;
                    font-weight: 800;
                    line-height: 1.2;
                }
            }
            .logo_quote_text {
                font-size: .37em;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        nav.nav_menu_container {
            width: 50%;
            ul.nav_menu {
                height: 100%;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                align-items: center;
                li.nav_menu_element {
                    display: flex;
                    a {
                        align-self: center;
                        height: 100%;
                        font-size: .5em;
                        font-weight: bold;
                        color: $top_header_text_color;
                        text-decoration: none;
                        transition: .3s color;
                        &:hover {
                            color: $hower_and_button_color;
                        }
                    }
                }
            }
        }
    }
    .main_center_text_container {
        margin: 40vh 7vw;
        color: $main_text_color;

        .main_center_text_element_big {
            margin: 10vh 0;
            font-weight: bold;
            font-size: 1.4em;
        }
        .main_center_text_element_medium {
            text-transform: uppercase;
            font-size: .54em;
            font-weight: bold;
            margin: 7vh 0;
        }
        .main_center_text_element_small {
            color: #ddd;
            font-size: .43em;
            margin: 10vh 0;
            font-weight: bold;
        }
        .action_button {
            border: 0;
            border-radius: 3px;
            font-size: .4em;
            padding: 10px 30px;
            font-weight: 800;
            background-color: $hower_and_button_color;
            color: #000;
            transition: .3s;
            &:hover {
                color: #fff;
                background: #979797;
                cursor: pointer;
            }
        }
    }
    .bottom_header {
        padding: 2vh 4vw;
        background: #fff;
        display: flex;
        justify-content: space-between;
        .bottom_logo_container {
            width: 33%;
            color: $bottom_header_text_color;
            display: flex;
            flex-direction: row;
            .inner_bottom_logo_container {
                a {
                    color: $bottom_header_text_color;
                }
                .bottom_logo_main_text {
                    line-height: 1.2;
                    font-size: 1.3em;
                    font-weight: 800;
                }
            }
            .bottom_logo_quote_text {
                font-size: .33em;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        nav.bottom_nav_menu_container {
            width: 50%;
            ul.bottom_nav_menu {
                height: 100%;
                margin-left: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;
                .bottom_nav_menu_element {
                    display: flex;
                    a {
                        padding: 8px 14px;
                        border-radius: 3px;
                        align-self: center;
                        height: 100%;
                        font-size: .33em;
                        font-weight: bold;
                        color: $bottom_header_text_color;
                        text-decoration: none;
                        transition: .3s;
                        &:hover {
                            color: #fff;
                            background: rgb(30, 44, 240);
                        }
                    }
                }
            }
        }
    }
}