$top_header_text_color: #fff;
$bottom_header_text_color: #000;
$main_text_color: #fff;
$hower_and_button_color: rgb(255, 234, 42);

.header_content_container {
    
    // COMMON STYLES
    .logo_container {
        display: flex;
        flex-direction: row;
    }
    .nav_menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    .nav_menu_element {
        a {
            align-self: center;
            height: 100%;
            font-weight: bold;
            text-decoration: none;
        }
    }
    // COMON STYLES END

    background: url('../images/main_bg.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .top_header_not_fixed {
        flex-wrap: wrap;
        padding: 4vh 4vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .top_logo_container {
            color: $top_header_text_color;
            flex: 1;
            padding: 2vh 2vw;
            .inner_logo_container {
                a {
                    color: $top_header_text_color;
                }
                .logo_main_text {
                    font-size: 2rem;
                    font-weight: 800;
                    line-height: 1.2;
                }
            }
            .logo_quote_text {
                font-size: .55rem;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        nav.nav_menu_container {
            // width: 50%;
            flex: 2;
            ul.top_nav_menu {
                display: flex;
                flex-direction: row;
                // flex-wrap: wrap;
                li.top_nav_menu_element {
                    display: flex;
                    a {
                        font-size: .8rem;
                        color: $top_header_text_color;
                        transition: .3s color;
                        &:hover {
                            color: $hower_and_button_color;
                        }
                    }
                }
            }
        }
    }
    .main_center_text_container {
        margin: 40vh 7vw;
        color: $main_text_color;

        .main_center_text_element_big {
            margin: 10vh 0;
            font-weight: bold;
            font-size: 2.7rem;
        }
        .main_center_text_element_medium {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
            margin: 7vh 0;
        }
        .main_center_text_element_small {
            color: #ddd;
            font-size: .8rem;
            margin: 10vh 0;
            font-weight: bold;
        }
    }
    .fixed_header {
        z-index: 100;
        width: 100%;
        position: fixed;
        top: 0;
    }
    .bottom_header {
        max-width: 100%;
        overflow: hidden;
        box-shadow: 0 2px 2px #eee;
        background: #fff;
        .bottom_header_container {
            display: flex;
            justify-content: space-between;
            padding: 2vh 4vw;
            .bottom_logo_container {
                color: $bottom_header_text_color;
                .inner_bottom_logo_container {
                    a {
                        color: $bottom_header_text_color;
                    }
                    .bottom_logo_main_text {
                        line-height: 1.2;
                        font-size: 1.5rem;
                        font-weight: 800;
                    }
                }
                .bottom_logo_quote_text {
                    font-size: .4rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            nav.bottom_nav_menu_container {
                ul.bottom_nav_menu {
                    .bottom_nav_menu_element {
                        display: flex;
                        a {
                            padding: 8px 14px;
                            border-radius: 3px;
                            font-size: .7rem;
                            color: $bottom_header_text_color;
                            transition: .3s;
                            &:hover {
                                color: #fff;
                                background: rgb(30, 44, 240);
                            }
                        }
                    }
                }
            }
        }
    }
}