
section#about
    .about_content_container
        .about_content_inner_container
            p.text_main About Us
            p.text_minor Spectrum is the most  <span class="colored">rational</span> theme on motocms
            p.text_little Your employees finish their tasks, sales are going 
                | only upwards, and you lead in the run of your 
                | competition. But quite often and unexpectedly 
                | changes big enough occur. Then the things you’ve 
                | always been doing are no longer working.
            //- a.about_content_button(href="#") Contact Us
            a.black_bordered_button(href="#") Contact Us
    .about_solutions_container
        .solutions_main_text Solutions
        ul.solutions_container
            li.solutions_element IT Management
            li.solutions_element Business Consulting
            li.solutions_element Lawyer Consulting
            li.solutions_element Online Consulting
            li.solutions_element App Consulting