section#benefits
    .section_main_text Your Main Features &amp; Benefits
    .benefits_container
        .benefit_element
            .benefit_image
                img(src=require("./../images/benefit1.png"), alt="Benefit 1")
            .benefit_name
                p Benefit 1
            .benefit_description
                p.
                    Add short description of your benefits to show 
                    the best of your product, service or event.
        .benefit_element
            .benefit_image
                img(src=require("./../images/benefit2.png"), alt="Benefit 2")
            .benefit_name
                p Benefit 2
            .benefit_description
                p.
                    Add short description of your benefits to show 
                    the best of your product, service or event.
        .benefit_element
            .benefit_image
                img(src=require("./../images/benefit3.png"), alt="Benefit 3")
            .benefit_name
                p Benefit 3
            .benefit_description
                p.
                    Add short description of your benefits to show 
                    the best of your product, service or event.
