section#cv
    .cv_container
        .cv_container_element
            .cv_image_container
                img(src=require("./../images/profile.jpg"), alt="Image")
        .cv_container_element
            .profile_container
                .main_info_container
                    .name
                        p Nina Cooper
                    .job 
                        p Entrepreneur
                .description_container
                    .profile 
                        p Profile
                    .profile_description
                        p She works here since 2010.
                        | Spectrum is a great team of professionals! I regularly hire them and I’m very 
                        | pleased with their good attitude and wide-range spheres. They helped me to 
                        | resolve many issues and gave my effective and useful tips for my business.
                .skills_container
                    .skill_element
                        .skill_name
                            p business consultation
                        .rank_container
                            .rank_level
                                p 90%
                    .skill_element
                        .skill_name
                            p bookkeeping consultation
                        .rank_container
                            .rank_level
                                p 80%
                    .skill_element
                        .skill_name
                            p legal consultation
                        .rank_container
                            .rank_level
                                p 70%