section#faq
    .faq_container
        .section_main_text
            p Just Answer the Questions
        .questions_container
            .question_element
                .question_info
                    span.number Question 1
                    span.stage.fa.fa-plus    
                .question_description
                    p.
                        Think about most common questions about your project, product or event and answer them. It will help 
                        your visitors to become to our customers.
            .question_element
                .question_info
                    span Question 2
                    span.stage.fa.fa-plus
                .question_description
                    p.
                        Think about most common questions about your project, product or event and answer them. It will help 
                        your visitors to become to our customers.
            .question_element
                .question_info
                    span Question 3
                    span.stage.fa.fa-plus
                .question_description
                    p.
                        Think about most common questions about your project, product or event and answer them. It will help 
                        your visitors to become to our customers.