section#featured_product
    .featured_product_container
        .featured_product_information
            .featured_product_main_text
                p Tell us about your featured product
            .featured_product_description
                p.
                    It's featured product, so you can tell a bit more about it. Be clear 
                    and sincere. Show its advantages and your visitors will convert into 
                    your customers.
            .featured_product_price
                p $465
            .order_button_container
                button.order_button Order Now
        .featured_product_image
            img(src=require("./../images/featured_product.jpg"), alt="Featured product")