.header_content_container
    header.top_header_not_fixed
        .top_logo_container.logo_container
            .inner_logo_container 
                p.logo_main_text
                    a(href="#") Spectrum
                p.logo_quote_text
                    a(href="#") Advice that bright success
        nav.nav_menu_container
            ul.nav_menu.top_nav_menu
                li.nav_menu_element.top_nav_menu_element 
                    a(href='#Gallery') Gallery
                li.nav_menu_element.top_nav_menu_element 
                    a(href='#') Pricing
                li.nav_menu_element.top_nav_menu_element 
                    a(href='#') Contacts
                li.nav_menu_element.top_nav_menu_element 
                    a(href='#') All blocks
    .main_center_text_container
        p.main_center_text_element_big
            span Your business - Our solutions
        p.main_center_text_element_medium
            span It's time to find a partner that will help you 
            | take charge of your company's future
        p.main_center_text_element_small
            span That's why we take the time to listen to you, 
            | study your goals and then create your plan.
        p.text_element_button_container
            button.contact_button Call2Action
    header.bottom_header
        .bottom_logo_container.logo_container
            .inner_bottom_logo_container
                p.bottom_logo_main_text
                    span Spectrum
                p.bottom_logo_quote_text
                    span Advice that bright success
        nav.bottom_nav_menu_container
            ul.nav_menu.bottom_nav_menu
                li.nav_menu_element.bottom_nav_menu_element 
                    a(href='#') Gallery
                li.nav_menu_element.bottom_nav_menu_element 
                    a(href='#') Pricing
                li.nav_menu_element.bottom_nav_menu_element 
                    a(href='#') Contacts
                li.nav_menu_element.bottom_nav_menu_element 
                    a(href='#') All blocks