section#nubmers
    .numbers_container
        .section_main_text
            p People Love Numbers
        .numbers_countdown_container
            .numbers_countdown_item
                .timestamp_container
                    .countdown_amount
                        p.days 1
                    .countdown_name
                        p Days
                .delimiter
                    p :
            .numbers_countdown_item
                .timestamp_container
                    .countdown_amount
                        p.hours 1
                    .countdown_name
                        p Hours
                .delimiter
                    p :
            .numbers_countdown_item
                .timestamp_container
                    .countdown_amount
                        p.minutes 2
                    .countdown_name
                        p Minutes
                .delimiter
                    p :
            .numbers_countdown_item
                .timestamp_container
                    .countdown_amount
                        p.seconds 3
                    .countdown_name
                        p Seconds