section#pricing
    .pricing_container
        .pricing_plan_main_text
            p Pricing Plans
        .pricing_plan_container
            .pricing_plan_element
                .plan_count
                    p plan #1
                .pricing_plan_advantages
                    ul
                        li SOA
                        li recommendations of the adviser
                        li insurance company
                .pricing_plan_price
                    p $245
                .pricing_plan_order_button
                    a(href="#").black_bordered_button Order Now
            .pricing_plan_element
                .plan_count
                    p plan #2
                .pricing_plan_advantages
                    ul
                        li insurance consultation
                        li insurance company
                        li recommendations of the adviser
                .pricing_plan_price
                    p $445
                .pricing_plan_order_button
                    a(href="#").black_bordered_button Order Now
            .pricing_plan_element
                .plan_count
                    p plan #3
                .pricing_plan_advantages
                    ul
                        li recommendations of the adviser
                        li investments
                        li insurance company
                .pricing_plan_price
                    p $645
                .pricing_plan_order_button
                    a(href="#").black_bordered_button Order Now