section.statistics_container
    p.statistics_main_text Statistics
    .statistics_advantages_container
        .advantage_container
            .advantage_number 923/923
            .advantage_name Happy Clients
        .advantage_container
            .advantage_number 215
            .advantage_name Growing businesses
        .advantage_container
            .advantage_number 100%
            .advantage_name Of your success
        .contact_button_container
            button.contact_button Contact Us