section#steps_solution
    .steps_solution_container
        .steps_solution_main_text
            p Solution in 3 Easy Steps
        .steps_container
            .step_element_container
                .step_image
                    img(src=require("../images/step1.jpg"), alt="phone in arm")
                .step_count_text
                    p step 1
                .description_of_step
                    p Add short description of the Step 1, so your 
                    | customers could feel how it's easy to get a solution with your 
                    | product, service or event.
            .step_element_container
                .step_image
                    img(src=require("../images/step2.jpg"), alt="man near wall")
                .step_count_text
                    p step 2
                .description_of_step
                    p Add short description of the Step 2, so your 
                    | customers could feel how it's easy to get a solution with your 
                    | product, service or event.
            .step_element_container
                .step_image
                    img(src=require("../images/step3.jpg"), alt="pen in arm")
                .step_count_text
                    p step 3
                .description_of_step
                    p Add short description of the Step 3, so your 
                    | customers could feel how it's easy to get a solution with your 
                    | product, service or event.