section#team
    .team_container
        .section_main_text 
            p Our Team
        .employees_container
            .employee_element
                .employee_image_container
                    img(src=require("./../images/team1.jpg"), alt="Jim Smith")
                .employee_information_container
                    .main_ifnormation
                        .name 
                            p Jim Smith
                        .position
                            p Manager
                    .description
                        p.
                          Jim has over 10 years of experience 
                          working as an manager
                    .social_container
                        .social
                            a(href="#").fa.fa-facebook
                        .social
                            a(href="#").fa.fa-twitter
                        .social
                            a(href="#").fa.fa-linkedin
            .employee_element
                .employee_image_container
                    img(src=require("./../images/team2.jpg"), alt="Jack Allen")
                .employee_information_container
                    .main_ifnormation
                        .name 
                            p Jack Allen
                        .position
                            p Manager
                    .description
                        p.
                          Jack has built a reputation as a tech
                          industry innovator
                    .social_container
                        .social
                            a(href="#").fa.fa-facebook
                        .social
                            a(href="#").fa.fa-twitter
                        .social
                            a(href="#").fa.fa-linkedin
            .employee_element
                .employee_image_container
                    img(src=require("./../images/team3.jpg"), alt="Amanda Doe")
                .employee_information_container
                    .main_ifnormation
                        .name 
                            p Amanda Doe
                        .position
                            p Entrepreneur
                    .description
                        p.
                          She works here since 2015. Great 
                          service and great experts!
                    .social_container
                        .social
                            a(href="#").fa.fa-facebook
                        .social
                            a(href="#").fa.fa-twitter
                        .social
                            a(href="#").fa.fa-linkedin
            .employee_element
                .employee_image_container
                    img(src=require("./../images/team4.jpg"), alt="David Anderson")
                .employee_information_container
                    .main_ifnormation
                        .name 
                            p David Anderson
                        .position
                            p Sales Manager
                    .description
                        p.
                          David has a great experience and 
                          knowledge for bussines.
                    .social_container
                        .social
                            a(href="#").fa.fa-facebook
                        .social
                            a(href="#").fa.fa-twitter
                        .social
                            a(href="#").fa.fa-linkedin