section#testimonials
    .testimonials_container
        span.prev &lt;
        span.next &gt;
        .testimonials_main_text 
            p Testimonials
        .testimonials_slider_container
            .slider_visible_part
                .slider_element_container
                    .image_container
                        img(src=require("../images/testimonials1.png"), alt="sitting girl")
                    .feedback_container
                        p.feedback I would just like to say thank you for your prompt and effective service, for your friendly 
                        | and professional support staff! I will recommend your expert company to all my friends.
                    .name_container
                        p.name Mary Mackelroy
                .slider_element_container
                    .image_container
                        img(src=require("../images/testimonials2.png"), alt="smiling girl")
                    .feedback_container
                        p.feedback Hi, guys! You’ve solved my problem in no time! Your efficient services and customer care 
                        | are second to none! I am very happy! I will surely share my experience with my friends!
                    .name_container
                        p.name Lisa Ghrol
                .slider_element_container
                    .image_container
                        img(src=require("../images/testimonials3.png"), alt="man with beard")
                    .feedback_container
                        p.feedback Thank you for your prompt response and the help that you gave me. You always have a 
                        | quick solution to any problem. What an excellent level of customer service!
                    .name_container
                        p.name Dave Smith