section#timeline
    .section_main_text
        p Show The Timeline of Your Project
    .timeline_container
        .timeline_element
            .timeline_date
                p September 2017
            .timeline_description
                p Tell about most important steps of making a project. It will add credibility.
        .timeline_element
            .timeline_date
                p October 2017
            .timeline_description
                p Tell about most important steps of making a project. It will add credibility.
        .timeline_element
            .timeline_date
                p November 2017
            .timeline_description
                p Tell about most important steps of making a project. It will add credibility.
        .timeline_element
            .timeline_date
                p December 2017
            .timeline_description
                p Tell about most important steps of making a project. It will add credibility.