section#vacancy
    .section_main_text
        p Your Career Starts Here
    .vacancies_container
        .vacancy_element
            .about_vacancy
                .position
                    p Senior Job Position
                .description
                    p.
                        We're looking for experienced professionals with personal 
                        point of view and problem-solving technique.
            .time_place_employment
                p.time
                    span.fa.fa-clock-o
                    span April 11, 2016
                p.place
                    span.fa.fa-map-marker
                    span New York
                p.employment
                    span.fa.fa-book
                    span  Full Time
        .vacancy_element
            .about_vacancy
                .position
                    p Senior Job Position
                .description
                    p.
                        We're looking for experienced professionals with personal 
                        point of view and problem-solving technique.
            .time_place_employment
                p.time
                    span.fa.fa-clock-o
                    span April 11, 2016
                p.place
                    span.fa.fa-map-marker
                    span  New York
                p.employment
                    span.fa.fa-book
                    span Full Time
        .vacancy_element
            .about_vacancy
                .position
                    p Senior Job Position
                .description
                    p.
                        We're looking for experienced professionals with personal 
                        point of view and problem-solving technique.
            .time_place_employment
                p.time
                    span.fa.fa-clock-o
                    span April 11, 2016
                p.place
                    span.fa.fa-map-marker
                    span  New York
                p.employment
                    span.fa.fa-book
                    span Full Time